th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align-last: center;
}
div#coluna-dados-pessoais{
  margin-top: 2%;
}


/*h1#nome_embaixo_do_icone_perfil{
  margin-left: 40%;
  margin-top: 0%;
}*/

.card-header{
  background-color: #3f51b5;
}

img{
border-radius: 50%;

}

div#tabela_principal{
margin-top: 2%;
}

.card-title{
  color: white;
}

.itens-dados-pessoais{
color:black;
}

div#cor_informacoes_descricao{
background-color: white;
}

button#botao-de-edicao{
  margin-left: 82.5%;
}
.btnAcao{
  background-color: white !important;
  color: #2d323e !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
}

.box {
  min-height: 16rem;
  max-height: 16rem;
  display: flex;
  width: 10%;
  height: 16rem;
  position: relative;
  /*margin-left: 37%;*/
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  margin-right: 45%;
  margin-left: 45%;
}

.avatar-perfil::after {
  opacity: 0;
  font-family: FontAwesome;
  content: "\f040";
  color: rgba(255, 255, 255, 0.473);
  font-size: 2.5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  width: 16rem;
  height: 16rem;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 350ms ease-in-out;
  margin-top: 0.2%;
}

.perfil {
  width: 162px;
  height: 162px;
}

.avatar-perfil:hover::after {
  opacity: 1;
}

.box input {
  display: none;
}

.box input:checked + div.menu {
  opacity: 1;
  z-index: 999;
}


.card{
  margin-right: 40%;
}