<div class="row">
    <div fxFlex="100%" fxLayoutGap="2rem">
        <h2 mat-dialog-title>Editar Meus Dados</h2>
    </div>
    <div>
        <mat-icon mat-dialog-close>clear</mat-icon>
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <br />
    <form [formGroup]="MeuPerfilForm">
        <div class="row" fxLayoutGap="2rem">
            <div fxFlex="1 1 calc(50% - 2rem)" fxFlex.lt-md="100%">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" required />
                </mat-form-field>
            </div>
            <div fxFlex="1 1 calc(50% - 2rem)" fxFlex.lt-md="100%">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" required />
                    <mat-error
                        *ngIf="MeuPerfilForm.get('email').hasError('email') && !MeuPerfilForm.get('email').hasError('required')">
                        Por favor, entre com um e-mail válido!</mat-error>
                    <mat-error *ngIf="MeuPerfilForm.get('email').hasError('required')">E-mail é
                        <strong>obrigatório</strong></mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row" fxLayoutGap="2rem">
            <div fxFlex="1 1 calc(50% - 2rem)" fxFlex.lt-md="100%">
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput Mask type="text" formControlName="telefone" mask="celular" maxLength="15"
                        required />
                </mat-form-field>
            </div>
            <div fxFlex="1 1 calc(50% - 2rem)" fxFlex.lt-md="100%">
                <mat-form-field>
                    <mat-label>Data Nascimento</mat-label>
                    <input matInput [matDatepicker]="pickerdataNascimento"
                        formControlName="dataNascimento" required (click)="pickerdataNascimento.open()" readonly/>
                    <mat-datepicker-toggle matSuffix [for]="pickerdataNascimento"></mat-datepicker-toggle>
                    <mat-datepicker id="dp" #pickerdataNascimento></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row" fxLayoutGap="2rem">
            <div fxFlex="1 1 calc(50% - 2rem)" fxFlex.lt-md="100%">
                <mat-form-field>
                    <mat-label>CPF</mat-label>
                    <input matInput Mask formControlName="cpf" mask="cpf" maxlength="14" />
                </mat-form-field>
            </div>
            <div fxFlex="1 1 calc(50% - 2rem)" fxFlex.lt-md="100%"></div>
        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
    <button mat-raised-button (click)="atualizarMeuPerfil()" class="btnAcao">
        <mat-icon>done</mat-icon>&nbsp; Atualizar
    </button>
</mat-dialog-actions>