<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>LACIA</span>
  <span class="example-spacer"></span>
  <button mat-flat-button [matMenuTriggerFor]="appMenu" (menuOpened)="menuOpened()" (menuClosed)="menuClosed()" class="menu-perfil">
    <img class="avatar mr-0 mr-sm-16" src="assets/images/Reyna.jpg">
    Francisco José&nbsp;
    <mat-icon>{{ menuIsOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button (click)="entrarMeuPerfil()" mat-menu-item>
      <mat-icon>account_circle</mat-icon>&nbsp; Meu Perfil
    </button>
    <button (click)="sairSistema()" mat-menu-item>
      <mat-icon>logout</mat-icon>&nbsp; Sair do Sistema
    </button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="mode">
    <div class="quadro_usuario">
      <mat-icon class="icone_usuario">account_circle</mat-icon>
      <div class="descricao_usuario">
        Administrador
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-material-multilevel-menu [items]="appitems" (selectedItem)="selecionarItem($event)">
    </ng-material-multilevel-menu>
  </mat-sidenav>
  <mat-sidenav-content class="container-fluid">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
