<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>LACIA</span>
  <button id="botao_meu_perfil" mat-raised-button class="btnAcao">
    <mat-icon >account_circle</mat-icon>&nbsp; Meu Perfil
  </button>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="mode">
    <div class="quadro_usuario">
      <mat-icon class="icone_usuario">account_circle</mat-icon>
      <div class="descricao_usuario">
        Administrador
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-material-multilevel-menu [items]="appitems" (selectedItem)="selecionarItem($event)">
    </ng-material-multilevel-menu>
  </mat-sidenav>
  <mat-sidenav-content class="container-fluid">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
