.example-spacer {
  flex: 1 1 auto;
}
.quadro_usuario {
  height: 20%;
  justify-content: center;
  justify-items: center;
  display: grid;
}

.icone_usuario {
  margin-top: 15%;
  margin-bottom: 5%;
  font-size: 5em;
  margin-right: 34%;
}

.descricao_usuario {
  margin-top: 20%;
  font-size: 18px;
}

.conteudo {
  height: 100% !important;
}

.toolbar {
  height: 10%;
}

.sidenav-container {
  height: 90%;
}

.botao_meu_perfil{
  margin-left: 85%;
  background-color: white;
  color:#3f51b5;  

}

