<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>LACIA</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mode">
    <div class="quadro_usuario">
      <mat-icon class="icone_usuario">account_circle</mat-icon>
      <div class="descricao_usuario">
        Administrador
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-material-multilevel-menu [items]="appitems">
    </ng-material-multilevel-menu>
  </mat-sidenav>
  <mat-sidenav-content class="conteudo">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
