<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="titulo">
            Aluno
        </h2>
    </div>
</div>
<mat-tab-group mat-align-tabs="start">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>search</mat-icon>&nbsp; Pesquisar
        </ng-template>
        <app-aluno-pesquisar></app-aluno-pesquisar>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>add</mat-icon>&nbsp;Cadastrar
        </ng-template>
        <app-aluno-cadastrar></app-aluno-cadastrar>
    </mat-tab>
</mat-tab-group>