<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/lacia.png">
            </div>

            <div class="title">Bem-vindo ao LACIA</div>

            <form name="loginForm" (submit)="logar()" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email é obrigatório
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Insira um e-mail válido!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Senha é obrigatória
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        Esqueceu sua senha?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                    [disabled]="loginForm.invalid">
                    Login
                </button>

            </form>

            <div class="separator">
            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">É pesquisador e não possui uma conta?</span>
                <a class="link" [routerLink]="'/pages/auth/register'">Solicite o acesso</a>
            </div>

        </div>

    </div>

</div>