<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2 class="titulo">
      Projetos Cadastrados
    </h2>
  </div>
</div>
<br>
<div class="row">
  <div class="example-header" id="filtro-por-projeto" class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
    <mat-form-field>
      <mat-label>Filtro pelo nome do projeto</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  </div>
</div>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{ mapColunas.get(column) }} </th>
    <td style="cursor: pointer;" mat-cell *matCellDef="let element">
      <div
        *ngIf="column === 'dt_inicio_ProjetoCadastrado' || column === 'dt_fim_ProjetoCadastrado'; else colunaSemData">
        {{ element[column] | date: 'dd/MM/yyyy'}}
      </div>
      <ng-template #colunaSemData>
        {{ element[column] }}
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          <b>Descricao: </b> {{element.descricaoProjetoCadastrado}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>