.card_login {
  width: 30%;
  height: 80%;
  margin-left: 35%;
  margin-right: 35%;
}

@media (max-width: 479px) {
  .card_login {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .card_login {
    width: 50%;
    height: 70%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

.card_login .titulo_login {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.img_login {
  height: 80px;
}

.btnLogin {
  background-color: #3f51b5;
  color: white;
  margin-top: 13%;
}

.container-fluid {
  background-color: #3f51b5 !important;
  height: 100%;
  width: 100%;
  padding-top: 13%;
}

