<div class="container">
    <div fxLayout="column">
        <div fxFlex>
            <h2 class="titulo">
                Pesquisador
            </h2>
        </div>
        <mat-tab-group mat-align-tabs="start" fxFlex>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>search</mat-icon>&nbsp; Pesquisar
                </ng-template>
                <ng-template matTabContent>
                    <app-pesquisador-pesquisar></app-pesquisador-pesquisar>
                </ng-template>
            </mat-tab>
            <mat-tab *ngIf="getTipoUsuario() === 'C'">
                <ng-template mat-tab-label>
                    <mat-icon>check</mat-icon>&nbsp; Aprovar
                </ng-template>
                <ng-template matTabContent>
                <app-aprovar-pesquisador></app-aprovar-pesquisador>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>