table {
  width: 98% !important ;
  margin-left: 15px !important;


}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align-last: center;

}
 .btnLimpar{
   background-color: red !important;
 }