<div fxLayout="row">
    <div fxFlex='100%' fxLayoutGap='2rem'>
        <h2 mat-dialog-title>Adicionar Membros</h2>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <mat-icon mat-dialog-close id="clear">clear</mat-icon>
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div fxFlex fxLayout="column" class="scrumboard-members-menu" (click)="$event.stopPropagation()">
        <mat-checkbox class="member px-16" (change)="adicionarMembro(member)" [checked]="checked(member)" *ngFor="let member of todosUsuarios">
            <div fxLayout="row" fxLayoutAlign="start center">
                <img [src]="retornarImagem(member.fotoPerfil)" class="avatar" />
                <p class="member-name">{{ member.nome }}</p>
            </div>
        </mat-checkbox>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="cadastrarMembros()" mat-raised-button class="btnAcao">
        <mat-icon>check</mat-icon>&nbsp; Salvar
    </button>
</mat-dialog-actions>