<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="titulo">
            Meu Perfil
        </h2>
    </div>
</div>
<mat-icon id="icone-usuario-anonimo" class="icone_usuario">account_circle</mat-icon>
<h1 id="nome_embaixo_do_icone_perfil">Coordenador</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="md-tabs">
            <div [@fadeInOutTranslate] class="m-t-15">
                <!-- personal card start -->
                <div class="card">
                    <div id="cor_barra_sobre_mim" class="card-header">
                        <h3 class="card-header-text">Sobre mim</h3>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="general-info">
                                    <div class="row">
                                        <div class="col-lg-12 col-xl-6">
                                            <div class="table-responsive">
                                                <table class="table m-0">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Nome Completo</th>
                                                            <td>Francisco José dos Santos Santana</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">Email</th>
                                                            <td><a
                                                                    href="javascript:;">francisco.jsantos@souunit.com.br</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Data Nascimento</th>
                                                            <td>13/07/2001</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end of table col-lg-6 -->
                                        <div class="col-lg-12 col-xl-6">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Cargo</th>
                                                            <td>Coordenador</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">CPF</th>
                                                            <td>111.111.111-11</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Número de Celular</th>
                                                            <td>(79) 99841-4129</td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end of table col-lg-6 -->
                                    </div>
                                    <!-- end of row -->
                                </div>
                                <!-- end of general info -->
                            </div>
                            <!-- end of col-lg-12 -->
                        </div>
                        <!-- end of row -->
                    </div>