mat-icon#icone-usuario-anonimo{
    margin-bottom: 10%;
    font-size: 15em;
    margin-left: 42%;
  }

h1#nome_embaixo_do_icone_perfil{
    margin-left: 42.5%;
    margin-top: 1%;
}
div#cor_barra_sobre_mim{
  background-color: #3f51b5;
  color: white;
}

img{
  border-radius: 50%;
  margin-left: 42.3%;
}
div#tabela_principal{
  margin-top: 2%;
}