<link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="titulo">
            Meu Perfil
        </h2>
    </div>
</div>
<div class="box">
    <label class="avatar" for="btn">
       <img id="arquivo" width="160" height="160"/>
    </label>
    <input id="btn" type="file" onchange="document.getElementById('arquivo').src = window.URL.createObjectURL(this.files[0])">
</div>
    <h1 id="nome_embaixo_do_icone_perfil">Francisco José dos Santos Santana</h1>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header" >
          <div class="card-title">
            Dados Pessoais
          </div>
          <button mat-raised-button id="botao-de-edicao"class="btnAcao" (click)="atualizarMeuPerfil();$event.stopPropagation()">
            <mat-icon>edit</mat-icon>&nbsp; Editar dados
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="card-content">
          <div class="row">
            <div class="col-lg-12 col-xl-6">
                <br>
                <h3>
                    <mat-panel-title class="itens-dados-pessoais">
                        <b>Nome Completo</b>: {{ perfil.nomeMeuPerfil }}
                    </mat-panel-title>
                </h3>
                <br>
                <h3>
                    <mat-panel-title class="itens-dados-pessoais">
                        <b>Email</b>: {{ perfil.emailMeuPerfil }}
                    </mat-panel-title>
                </h3>
                <br>
                <h3>
                    <mat-panel-title class="itens-dados-pessoais">
                        <b> Data Nascimento</b>: {{ perfil.dtNascimentoMeuPerfil | date:"dd/MM/yyyy" }}
                    </mat-panel-title>
                </h3>
            </div>
            <div class="col-lg-12 col-xl-6">
                <br>
                <h3>
                    <mat-panel-title class="itens-dados-pessoais">
                        <b> Função</b>: Coordenador
                    </mat-panel-title>
                </h3>
                <br>
                <h3>
                    <mat-panel-title class="itens-dados-pessoais">
                        <b> CPF</b>: {{ perfil.cpfMeuPerfil | cpf }}
                    </mat-panel-title>
                </h3>
                <br>
                <h3>
                    <mat-panel-title class="itens-dados-pessoais">
                        <b> Número de Celular</b>: {{ perfil.telefoneMeuPerfil | telefone}}
                </mat-panel-title>
                </h3>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>

