<div id="error-500" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">500</div>

        <div class="message">É... parece que você quebrou a internet!</div>

        <div class="sub-message">
            Brincadeira, parece que você está com um problema na rede, tente novamente em alguns minutos
        </div>

        <a class="report-link" [routerLink]="'/apps/dashboards/project'">Reportar o problema</a>

    </div>

</div>
