<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2 class="titulo">
      Coordenador
    </h2>
  </div>
</div>
<mat-tab-group mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>search</mat-icon>&nbsp; Pesquisar
    </ng-template>
    <app-coordenador-pesquisar></app-coordenador-pesquisar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>add</mat-icon>&nbsp; Cadastrar
    </ng-template>
    <app-coordenador-cadastrar></app-coordenador-cadastrar>
  </mat-tab>
</mat-tab-group>